.admin-button {
  padding: 18px 35px;
  font-size: 16px;
  border-radius: 4px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: auto;
  background: #1e1e1e;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-family: SourceSansPro;
  &:hover {
    background: #c03;
  }
}

.admin-fixed-btns {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 30px;

  .required-textarea {
    color: red;
    margin-bottom: 30px;
    font-family: SourceSansProBold;
  }
}

.add-article-btn,
.add-image-btn {
  padding: 18px 35px;
  font-size: 14px;
  border-radius: 4px;
  letter-spacing: 2.16px;
  text-transform: uppercase;
  color: #ffffff;
  margin: auto 0 30px 0;
  background: #aa8960;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.25s ease-in-out;
  font-family: SourceSansPro;
  box-sizing: border-box;
  text-align: center;
  &:hover {
    background: #997a55;
  }
}
