@font-face {
    font-family: 'SourceSansPro';
    src: url('~@/assets/fonts/SourceSansPro-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSansProBold';
    src: url('~@/assets/fonts/SourceSansPro-Bold.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('~@/assets/fonts/PlayfairDisplay-Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}